.main_page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    padding: 25px;
    width: fit-content;
    overflow: auto;
}

.main_page__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.main_page__title {
    font-weight: 700;
    font-size: 26px;
}

.main_page__buttons {
    position: relative;
    display: flex;
    gap: 10px;
}

.history__button,
.create_list__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 15px;
    font-weight: 600;
    font-size: 16px;
}

.history__button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.create_list__button {
    background-color: rgba(41, 36, 66, 0.8);
    color: white;
}

.main_page_columns {
    display: flex;
    gap: 20px;
}