.column_creator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 350px;
    height: 50px;
    padding: 0 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}


.column_creator__input {
    display: block;
    min-width: 150px;
    width: 100%;
    padding: 8px 10px;
    border: none;
    box-sizing: border-box;
    margin: 5px 5px;
    font-size: 16px;
}


.column_creator__button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 80%;
    background: none;
    background-color:  rgba(41, 36, 66, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    padding: 0 15px;
    font-size: 18px;
}

.column_creator__button:disabled {
    background-color: rgb(155, 151, 171);
}
